.add-category-container {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
    padding: 20px; 
}

.add-category-form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    min-width: 700px; 
}

.add-category-form h2 {
    text-align: center;
    color: #3c763d;
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f8f8f8;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

.submit-button {
    display: block; 
    padding: 10px 20px; 
    background-color: #3c763d;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
    margin: 10px auto;
}

.submit-button:hover {
    background-color: #2e5a2e;
}
